<table
  class="spot-table"
  mat-table
  [dataSource]="spotSource"
  matSort
  matSortActive="currency"
  matSortDirection="desc"
  matSortDisableClear="true"
  [attr.hidden]="!spotSource.data.length ? true : null"
>
  <ng-container matColumnDef="currency">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      <div>
        Currency<br />
        <ion-text color="medium" class="ion-text-nowrap">
          <small>coins / usd</small>
        </ion-text>
      </div>
    </th>
    <td mat-cell *matCellDef="let r" [routerLink]="['/coin', r.name]">
      {{ r.name }}<br />
      {{ r.totalCoins }}<br />
      <ion-text color="medium">{{ r.totalCost | currency : 'USD' : 'symbol' : '1.2-2' }}</ion-text>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      <div>
        Price<br />
        <ion-text color="medium" class="ion-text-nowrap">
          <small>cur / avg. buy</small>
        </ion-text>
      </div>
    </th>
    <td class="ion-text-end" mat-cell *matCellDef="let r" [routerLink]="['/coin', r.name]">
      <ion-text>{{ r.marketPrice | currency : 'USD' : 'symbol' : '1.2-3' }}</ion-text
      ><br />
      <ion-text color="medium">{{
        r.avgBuyPrice | currency : 'USD' : 'symbol' : '1.2-3'
      }}</ion-text>
    </td>
  </ng-container>

  <ng-container matColumnDef="profit">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      <div>
        Profit<br />
        <ion-text color="medium" class="ion-text-nowrap">
          <small>cur / cur% / total</small>
        </ion-text>
      </div>
    </th>
    <td mat-cell *matCellDef="let r" [routerLink]="['/coin', r.name]">
      <ion-text color="{{ r.currentProfit > 0 ? 'success' : r.currentProfit < 0 ? 'danger' : '' }}">
        {{ r.currentProfit | currency : 'USD' : 'symbol' : '1.2-2' }}<br />
        <small>{{ r.prcCurrentProfit | number : '1.2-2' }}%</small>
      </ion-text>
      <br />
      <ion-text color="{{ r.totalProfit > 0 ? 'success' : r.totalProfit < 0 ? 'danger' : '' }}">{{
        r.totalProfit | currency : 'USD' : 'symbol' : '1.2-2'
      }}</ion-text>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
